<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'home/js/script.js' %}"></script>


    <title>Andhika's Accordion</title>
</head>

<body style="margin-top: 50 !important; background-image: url('/static/home/images/background.jpg');">
    <h1 style="text-align: center !important;">Andhika Rifki Alfariz</h1>
    <h2 style="text-align: center !important;"> Kenalan yuk!</h1>
    <div style="min-height:100%; margin-top:65px;">
        <div class="accordion">
            <div class="content" style="background-color: ;">
                <div class="title">
                    <a href="">Aktivitas Sekarang</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>Mahasiswa Ilmu Komputer Fasilkom UI 2019</li>
                        <li>Gitaris amatir</li>
                        <li>Pengamat isu sospol dan teknologi</li>
                        <li>Fans layar kaca AC Milan</li>
                        <li>Penikmat anime dan manga</li>
                    </ul>
                </div>
            </div>
            <div class="content" style="color: ;">
                <div class="title">
                    <a href="" style="color: aliceblu;">Pengalaman</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>    
                        <li>PJ Divisi Liaison Officer Wisuda Ganjil 2021</li>
                        <li>PJ Divisi Akomodasi SIWAK-NG 2020</li>
                        <li>Staf Departemen Kastrat BEM Fasilkom UI 2020</li>
                        <li>Staf Departemen KMF FUKI Fasilkom UI 2020</li>
                        <li>Staf Divisi Liaison Officer Wisuda Ganjil 2020</li>
                        <li>Staf Divisi Pemungutan Suara Pemira IKM Fasilkom UI 2019</li>
                    </ul>
                </div>
            </div>
            <div class="content" style="background-color:  !important;">
                <div class="title">
                    <a href="">Prestasi</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>Juara 3 MTQ CSQO 2020</li>
                        <li>Juara 1 LCC 4 Pilar MPR-RI Tingkat Jakarta Barat</li>
                        <li>Juara 3 Lomba Marawis FINAL Se-Jabodetabek
                    </ul>
                </div>
            </div>
            <div class="content" style="color:;">
                <div class="title">
                    <a href="" style="color:;">Kontak</a>
                    <button class="upbutton">&uarr;</button>
                    <button class="downbutton">&darr;</button>
                </div>
                <div class="description">
                    <ul>
                        <li>Instagram : <a href="https://www.instagram.com/andhikalfariz/">@andhikalfariz</a></li>
                        <li>LinkedIn : <a href="https://www.linkedin.com/in/andhika-rifki-alfariz-681bbb193/">Andhika Rifki Alfariz</a></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
