/* body {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: chocolate;
    margin-top: 100px;
} 
 */


 body {
    padding-top: 100px;

}

h1 {
    text-align: center;
}

.accordion {
    margin: 50px;
}

.accordion .title,
.accordion .description {
    padding: 10px;
    border: 1px solid black;
}


.accordion .description {
    text-align: left;
    font-size: 20px;
}

a {
    text-align: left;
    color: black;
    font-weight: bold;
    text-decoration: initial;
}

button {
    float: right;
    margin-left: 10px;
}

